<div class="website signin">

    <div ng-include="'assets/views/site-header.html'"></div>

    <div class="site-container">

        <div class="half center-me">

            <h2>Reset Password</h2>

            <div ng-if="backendok" class="notification-default">
                <p>An e-mail with link has been sent. If you do not receive it within an hour or two, check your spam folder. <a href="/signin">Return To Sign In</a></p>
            </div>

            <form class="signin-form panel" name="forms.form" novalidate ng-submit="submitForgotPass()">

                <div class="form-group">
                    <errors data="errors.nonFieldServerErrors"></errors>
                </div>

                <p class="form-instruction">Enter your E-mail address, we'll send you an e-mail with reset link.</p>
                <div class="form-group">
                    <div>
                        <label for="domain" class="">E-MAIL</label>
                        <input type="email" class="form-control domain" name="email" ng-model="forgot.mail"
                               ng-model-options="{ debounce: { 'default': 750, 'blur': 0 }}" required validate-server/>
                    </div>
                    <div ng-class="{notSubmitted: !forms.form.$submitted}" ng-if="forms.form.email.$dirty || forms.form.$submitted" ng-messages="forms.form.email.$error"
                         ng-messages-multiple class="msg-error"  ng-messages-include="app/common/validation/default-messages.html"
                         cc-server-messages></div>
                </div>
                <div class="form-actions">
                    <button class="g4-button" type="submit"><span>Reset Password</span></button>
                </div>
            </form>

            <div class="signup-links">
                <a href="/signin">Return to Sign In</a>
            </div>

        </div>
    </div>
    <div class="site-footer" ng-include="'assets/views/site-footer.html'"></div>
</div>
