{% extends "tracker/base.html" %}

{% block content %}

    <form class="addnow-email-form" action="{% url "tracker_send_email" %}?url={{ url }}" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors|join:" " }}</div>
        {% endif %}

        <input type="email" name="from_email" placeholder="Your email address" required=""
               {% if form.from_email.errors %}title="{{ form.from_email.errors|join:" " }}" class="error"{% endif %}
               value="{{ form.data.from_email }}">

        <input type="email" name="to_email" placeholder="Your Friends email address" required=""
               {% if form.to_email.errors %}title="{{ form.to_email.errors|join:" " }}" class="error"{% endif %}
               value="{{ form.data.to_email }}">

        <textarea name="message" rows="2"
                  {% if form.message.errors %}title="{{ form.message.errors|join:" " }}" class="error"{% endif %}
                  placeholder="Write a message">{% spaceless %}
            {% if not form.data.message %}
                {{ text }} in {{ url }}
            {% else %}
                {{ form.data.message }}
            {% endif %}
        {% endspaceless %}</textarea>

        {{ form.captcha }}
        <span class="errors">{{ form.captcha.errors|join:" " }}</span>

        <input type="submit" class="submit" value="Send"/>
    </form>
{% endblock %}
