<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pay with a PayPal account - PayPal</title>
  <style>
    body { font-family: Arial; font-size: 13px; line-height: 1.5em; background-color: #fafafa; }
    p { width: 320px; margin: 100px auto; text-align: center; }
    a { color: dodgerblue; text-decoration: none; }
    small { color: #777; display: inline-block; margin-bottom: 100px; }
  </style>
</head>
<body>
  <p>
    <small>This page is just a mockup of PayPal service.</small><br>
    <a href="{{ return_url }}">
      <img src="/static/assets/images/paypal-logo.png"><br>
      Pay now and return to G4 Trader
    </a>
  </p>
</body>
</html>