{% extends 'auth/base_landing.html' %}

{% block main_section %}
<div class="container login-form">
  <div class="row">
    <div class="span4 offset4 center">
      <h1>Enter new password</h1>
      {% if form.errors %}
        <p class="error">Please enter your new password twice.</p>
      {% endif %}
      <form action="" method="POST">
        {% csrf_token %}
        <input name="new_password1" type="password" placeholder="New password" >
        <input name="new_password2" type="password" placeholder="Confirm password" >
        <button type="submit">Change password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
