<div class="half widget-attributes">
    <h3>Options</h3>

    <div class="form-group">
        <errors data="errors"></errors>
    </div>
    <div class="form-group widget-name-field" ng-class="{error: form.name.$invalid && form.$submitted, success: form.name.$valid && form.$submitted}">
        <div>
            <div class="label-container">
                <label for="name">Name</label>
            </div>
            <input ng-model="widget.name" name="name" placeholder="give me a descriptive name please..."
                   class="form-control domain" type="text" required validate-server/>
        </div>
        <div ng-class="{notSubmitted: !form.$submitted}" ng-if="form.name.$dirty || form.$submitted" ng-messages="form.name.$error" ng-messages-multiple
             class="msg-error" ng-messages-include="app/common/validation/default-messages.html" cc-server-messages>
        </div>
    </div>

    <div class="form-group" ng-class="{error: form.page_url.$invalid && form.$submitted, success: form.page_url.$valid && form.$submitted}">
        <div>
            <div class="label-container">
                <label for="page_url">Page URL</label>
                <div class="tooltip-container"><span class="tooltip-button"></span><div class="tooltip-content"><div class="arrow"></div><p>The page URL to share over newsletter</p></div></div>
            </div>
            <input type="url" ng-model="widget.pageUrl" name="page_url" placeholder="place page URL to share over newsletter..."
                   class="form-control domain"
                   ng-model-options="{ debounce: { 'default': 750, 'blur': 0 }}" required validate-server/>
        </div>
        <div ng-class="{notSubmitted: !form.$submitted}" ng-if="form.page_url.$dirty || form.$submitted" ng-messages="form.page_url.$error" ng-messages-multiple
             class="msg-error" ng-messages-include="app/common/validation/default-messages.html" cc-server-messages>
        </div>
    </div>

    <div class="form-group" ng-class="{error: form.page_title.$invalid && form.$submitted, success: form.page_title.$valid && form.$submitted}">
        <div>
            <div class="label-container">
                <label for="page_title">Page Title</label>
                <div class="tooltip-container"><span class="tooltip-button"></span><div class="tooltip-content"><div class="arrow"></div><p>The title of the page shared over newsletter</p></div></div>
            </div>
            <input ng-model="widget.pageTitle" name="page_title" placeholder="place page title..."
                   class="form-control domain" type="text"
                   required validate-server/>
        </div>
        <div ng-class="{notSubmitted: !form.$submitted}" ng-if="form.page_title.$dirty || form.$submitted" ng-messages="form.page_title.$error" ng-messages-multiple
             class="msg-error" ng-messages-include="app/common/validation/default-messages.html" cc-server-messages>
        </div>
    </div>

    <div class="form-group" ng-class="{error: form.media_url.$invalid && form.$submitted, success: form.media_url.$valid && form.$submitted}">
        <div>
            <div class="label-container">
                <label for="media_url">Media URL</label>
                <div class="tooltip-container"><span class="tooltip-button"></span><div class="tooltip-content"><div class="arrow"></div><p>Image URL that describes the content shared over newsletter</p></div></div>
            </div>
            <input type="url" ng-model="widget.mediaUrl" name="media_url" placeholder="place media url..."
                   ng-model-options="{ debounce: { 'default': 750, 'blur': 0 }}"
                   class="form-control domain" ng-required="checkForMediaUrlInWidget()" validate-server/>
        </div>
        <div ng-class="{notSubmitted: !form.$submitted}" ng-if="form.media_url.$dirty || form.$submitted" ng-messages="form.media_url.$error" ng-messages-multiple
             class="msg-error" ng-messages-include="app/common/validation/default-messages.html" cc-server-messages>
        </div>
    </div>

    <div class="form-group" ng-class="{error: form.vanity_domain.$invalid && form.$submitted, success: form.vanity_domain.$valid && form.$submitted}">
        <div>
            <label for="vanity_domain">Vanity Domain</label>
            <select name="vanity_domain" ng-model="widget.vanityDomain"
                    class="form-control domain">
                <option value="" >Default vanity domain</option>
                <option ng-selected="{{item === widget.vanityDomain}}" ng-repeat="item in domains" value="{{item}}">
                    {{item}}
                </option>
            </select>
        </div>
        <div ng-class="{notSubmitted: !form.$submitted}" ng-messages="form.vanity_domain.$error" ng-messages-multiple
             class="msg-error" ng-messages-include="app/common/validation/default-messages.html" cc-server-messages>
        </div>
    </div>
</div>

<div class="half widget-available-services">
    <selectable-buttons name="buttons" ng-model="widget.buttons" available-buttons="availableButtons" not-empty-array></selectable-buttons>
    <div ng-class="{notSubmitted: !form.$submitted}" ng-if="form.buttons.$dirty || form.$submitted" ng-messages="form.buttons.$error" ng-messages-multiple
         class="msg-error" ng-messages-include="app/common/validation/default-messages.html" cc-server-messages>
        <div ng-message="notEmptyArray">Widget has no buttons.</div>
    </div>
</div>
