<div class="website legal static-page">
    <div ng-include="'assets/views/site-header.html'"></div>
        <h1>Copyright</h1>
        <div class="content-wrapper">
          <p>
	    Gravity4, Inc. (“Gravity4”), as well as addnow Services (“addnow”) have adopted the following general policy toward copyright infringement in accordance with the Digital Millennium Copyright Act (<a href="http://lcweb.loc.gov/copyright/legislation/dmca.pdf"> http://lcweb.loc.gov/copyright/legislation/dmca.pdf</a>). The address of addnow’s Designated Agent to Receive Notification of Claimed Infringement (“Designated Agent”) is listed at the end of this policy.
          </p>
	  <p>With regard to content hosted on addnow’s servers, it is addnow’s policy to (1) block access to or remove material that it believes in good faith to be copyrighted material that has been illegally copied and distributed by any of our advertisers, affiliates, content providers, members or users; and (2) remove and discontinue service to repeat offenders.
	  </p>
          <p><strong>Procedure for Reporting Copyright Infringement </strong></p>
          <p>
	    If you believe that material or content residing on or accessible through the addnow website or services infringes a copyright, please send a notice of copyright infringement containing the following information to the Designated Agent listed below:
	    <ul>
	      <li>A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed.</li>
	      <li>Identification of works or materials being infringed.</li>
	      <li>Identification of the material that is claimed to be infringing including information regarding the location of the infringing materials that the copyright owner seeks to have removed, with sufficient detail so that addnow is capable of finding and verifying its existence.</li>
	      <li>Contact information about the notifier including address, telephone number and, if available, e­mail address.</li>
	      <li>A statement that the notifier has a good faith belief that the material is not authorized by the copyright owner, its agent, or the law.</li>
	      <li>A statement made under penalty of perjury that the information provided is accurate and the notifying party is authorized to make the complaint on behalf of the copyright owner.
	      </li>
	    </ul>
          <p><strong>Once Proper Bona Fide Infringement Notification is Received by the Designated Agent</strong></p>
	  <p>It is addnow’s policy:
	    <ul>
	      <li>To remove or disable access to the infringing material;</li>
	      <li>To notify the content provider, member or user that it has removed or disabled access to the material; and</li>
	      <li>To identify repeat offenders, remove the infringing material from the system, and terminate such content provider’s, member’s or user’s access to the service.</li>
	    </ul>
	    Contact addnow’s Designated Agent to receive notification of claimed infringement at <a href="mailto:addnow.support@gravity4.com">addnow.support@gravity4.com</a>, or at:
	  </p>
          <p>
&nbsp;&nbsp;	    Copyright Designated Agent<br/>
&nbsp;&nbsp;	    Gordon Endow<br/>
&nbsp;&nbsp;	    Gordon & Rees LLP<br/>
&nbsp;&nbsp;	    275 Battery Street , Suite 2000<br/>
&nbsp;&nbsp;	    San Francisco, CA 94111<br/>
&nbsp;&nbsp;	    P: 415-986-5900 | F: 415-986-8054<br/>
&nbsp;&nbsp;	    <a href="mailto:gendow@gordonrees.com">gendow@gordonrees.com</a>
          </p>
            <p>
              
            </p>
        </div>
    <div class="site-footer" ng-include="'assets/views/site-footer.html'"></div>
</div>
