<!-- this is the app's footer with all the marketing links/logos in-->
<div class="app-footer clearfix">
    <a href="http://gravity4.com/" class="powered-by">Powered by <span>Gravity4</span></a>
    <nav>
        <a href="/#signup/" ng-if="!$root.token"> Register </a><span class="pipe" ng-if="!$root.token">|</span>
        <a href="/#page/marketers/"> Marketers </a><span class="pipe">|</span>
        <a href="/#page/publishers/"> Publishers </a><span class="pipe">|</span>
        <a href="/#page/privacy/"> Privacy Policy </a><span class="pipe">|</span>
        <a href="/#page/copyright/"> Copyright </a>
    </nav>
</div>
<!--end footer-->