<div class="website legal static-page">
    <div ng-include="'assets/views/site-header.html'"></div>
    <h1>Publishers</h1>
    <div class="content-wrapper">
        <ul class="benefits">
            <li>Our studies show if you use an integrated sharing platform, you decrease load times and can increase virality of your content by 60%. </li>
            <li>Build your social audience equity using our after the share plug in</li>
            <li>Track the most copied words, for your SEO/SEM strategies marketers & publishers</li>
            <li>Track performance in real-time through our integrated dashboard</li>
            <li>Connect this social data with the G4 programmatic platform</li>
            <li>Allows you to extend inventory programmatically across multi-channels</li>
            <li>Unlike Sharethis and Addthis, we don't sell your data</li>
        </ul>
    </div>
    <div class="site-footer" ng-include="'assets/views/site-footer.html'"></div>
</div>