<div class="inner clearfix">
    <div class="logo-column">
        <a href="/" class="website-logo"></a>
        <span>Copyright © 2014-2015<br />Gravity4, All rights reserved.</span>
    </div>
    <div class="site-links-column clearfix">
        <div class="site-links">
            <h4>Information</h4>
            <a href="http://gravity4.com/vision/" target="_blank" title="">About</a>
            <a href="http://gravity4.com/contact/" target="_blank" title="">Contact</a>
            <a href="http://gravity4.theresumator.com/" target="_blank" title="">Jobs</a>
            <a href="http://gravity4.com/blog/" target="_blank" title="">Blog</a>
            <a href="/page/marketers/">Marketers</a>
            <a href="/page/publishers/">Publishers</a>
            <a href="/page/privacy/">Privacy Policy</a>
            <a href="/page/copyright/">Copyright</a>
        </div>
        <div class="site-links">
            <h4>Support</h4>
            <a href="https://support.addnow.com/" target="_blank" title="">Support Center</a>
            <a href="https://support.addnow.com/hc/en-us/sections/200937719/" target="_blank" title="">FAQs</a>
        </div>
        <div class="site-links">
            <h4>Connect</h4>
            <a href="http://facebook.com/gravity4" target="_blank" title="">Facebook</a>
            <a href="http://twitter.com/gravity4" target="_blank" title="">Twitter</a>
            <a href="https://www.linkedin.com/company/gravity4" target="_blank" title="">LinkedIn</a>
            <a href="http://youtube.com/gravity4" target="_blank" title="">YouTube</a>
        </div>
    </div>
</div>