<div class="clearfix">
    <h3 class="half">Select social icons</h3>
    <span class="drag-drop-instructions half">Move items to reorder</span>
</div>

<div class="services-pool selected-icons">
    <ul class="sortable-row clearfix" ui-sortable="sortableOptions" ng-model="buttons">
        <li class="sortable-item" ng-repeat="item in buttons">
            <span class="addnow-icon-{{item.service}}">
                <span class="addnow-service-icon _show-label ng-binding">{{item.service}}</span>
            </span>
        </li>
        <li class="sortable-item drop-zone"></li>
    </ul>
</div>
<div class="services-pool selected-icons">
    <ul class="sortable-row clearfix" ui-sortable="sortableOptions" ng-model="nonSelectedButtons">
        <li class="sortable-item" ng-repeat="item in nonSelectedButtons">
            <span class="addnow-icon-{{item.service}}">
                <span class="addnow-service-icon _show-label ng-binding">{{item.service}}</span>
            </span>
        </li>
        <li class="sortable-item drop-zone"></li>
    </ul>
</div>
